<nav class="navbar navbar-expand-xl">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"
      ><img src="assets/img/Logo.JPG" alt=""
    /></a>
    <button
      class="navbar-toggler"
      (click)="toggleNav()"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      class="collapse navbar-collapse"
      id="navbarSupportedContent"
      #navCollapsable
    >
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            text="HOME"
            aria-current="page"
            href="#"
            >HOME</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLinkActive="active"
            routerLink="tipps"
            text="LINKS & TIPPS"
            >LINKS & TIPPS</a
          >
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" routerLinkActive="active" text="PORTAL" href="#">
            PORTAL
          </a>
        </li>
        <li class="nav-item">
          <a
            routerLink="register"
            routerLinkActive="active"
            class="nav-link"
            text="REGISTRIEREN"
            >REGISTRIEREN</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLinkActive="active"
            text="PREMIUM ABO"
            href="#"
            >PREMIUM ABO</a
          >
        </li>
        <li class="nav-item login">
          <a
            *ngIf="isLoggedOut; else mySchoolLink"
            class="nav-link login"
            routerLink="login"
            routerLinkActive="active"
            text="LOGIN"
            href="#"
            >LOGIN</a
          >
          <ng-template #mySchoolLink>
            <a
              *ngIf="schoolLoggedIn"
              class="nav-link"
              routerLink="school/mySchool"
              routerLinkActive="active"
              text="MEINE SCHULE"
              href="#"
              >MEINE SCHULE</a
            >
          </ng-template>
        </li>
      </ul>
      <form class="d-flex items-center" role="search">
        <a
          *ngIf="!isLoggedOut"
          class="nav-link mx-2"
          routerLink="/"
          (click)="logout()"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          href="#"
          >Logout</a
        >
        <select class="form-select me-2 bi-caret-down">
          <option>deutsch</option>
          <option>englisch</option>
          <option>französisch</option>
        </select>
      </form>
    </div>
  </div>
</nav>
<header></header>
