$color1: #667468;
$color2: #f8a100;
$color3: #6d5d34;
$color4: #a0884d;

.container {
  @apply flex flex-col justify-center py-10;
  & > * {
    @apply m-auto p-2;
  }
  /*   .headingContainer {
    @apply w-8/12 rounded-md bg-[#f3d588];
    h1 {
      background: linear-gradient(to left, $color1, $color2);
      font-weight: 600;
      @apply bg-clip-text text-transparent border border-[#fde29c] w-10/12 text-center m-auto text-6xl py-4 relative box-content shadow-inner shadow-[#C39127] my-5;
      &::after {
        content: "";
        @apply border border-[#dfbf70] block absolute w-[calc(100%-2px)] h-[calc(100%-2px)] top-0 left-0 box-content;
      }
    }
  }
  img {
    @apply w-8/12 rounded-md p-0 mt-5 m-auto;
  } */
  .headingContainer {
    @apply w-full md:w-8/12 rounded-md;
    h1 {
      background: linear-gradient(to left, $color1, $color2);
      font-weight: 600;
      @apply bg-clip-text text-transparent w-full md:w-10/12 text-center m-auto text-4xl md:text-6xl py-4 relative box-content my-5;
    }
  }
  img {
    @apply w-full md:w-8/12 rounded-md p-0 mt-5  m-auto;
  }
  .infoText {
    @apply w-8/12 py-10 md:py-24 text-xl md:text-3xl;
  }
  section {
    @apply w-full p-0;
    > * {
      @apply mx-auto;
    }
    > p {
      @apply text-center;
    }
    .rating {
      @apply text-end;
    }

    .classFooter {
      @apply flex flex-row justify-between rounded-xl border mt-5 w-full;
      & > * {
        &:nth-child(1) {
          @apply text-[$color1];
        }
        &:nth-child(2) {
          @apply text-[$color2];
        }
        @apply p-4 mb-0 w-4/12 md:w-2/12;
      }
    }
  }
}
