<main class="container" *ngIf="render">
  <img src="{{ school.img }}" alt="" />
  <div class="headingContainer">
    <h1 class="h1">{{ school.name }}</h1>
  </div>
  <section>
    <p class="infoText">“{{ school.infoText }}”</p>
    <div id="generalInfo">
      <div class="angebot">
        <h1>Das bietet {{ school.name }} an:</h1>
        <p class="">
          automat:

          {{ school.automat ? "&#10003;" : "&#10007;" }}
        </p>
        <p>
          handgeschaltet:

          {{ school.handgeschaltet ? "&#10003;" : "&#10007;" }}
        </p>
        <p>
          Verkehrskunde:

          {{ school.verkehrskunde ? "&#10003;" : "&#10007;" }}
        </p>
        <p>
          Nothelferkurs:

          {{ school.nothelferkurs ? "&#10003;" : "&#10007;" }}
        </p>
      </div>
      <div class="kontakt">
        <h1>So erreichst du {{ school.name }}</h1>
        <h4>Telefon:</h4>
        <p>
          {{ school.vorwahl + " " + school.telefon }}
        </p>
        <a
          [href]="
            school.webseite.includes('https://')
              ? school.webseite
              : 'https://' + school.webseite
          "
        >
          Website:
          {{ school.webseite }}
        </a>
      </div>
      <div class="preise">
        <h1>Das verlangt {{ school.name }}:</h1>
        <h4 class="">Preis für eine Lektion:</h4>
        <p>
          {{
            school.preisLektionen === 0
              ? "Kein Preis angegeben"
              : school.preisLektionen + " CHF"
          }}
        </p>
        <h4 class="">Preis für NothelferKurs:</h4>
        <p>
          {{
            school.preisNothelferKurs === 0
              ? "Kein Preis angegeben"
              : school.preisNothelferKurs + " CHF"
          }}
        </p>
        <h4 class="">Preis für Verkehrskunde:</h4>
        <p>
          {{
            school.preisVerkehrskunde === 0
              ? "Kein Preis angegeben"
              : school.preisVerkehrskunde + " CHF"
          }}
        </p>
      </div>
    </div>
    <div class="classFooter">
      <address>
        {{ school.postalCode }} {{ school.stadt }}
        {{ school.kanton }}
      </address>
      <p class="rating">rating {{ school.rating }}</p>
    </div>
  </section>
</main>
