$color1: #667468;
$color2: #f8a100;
$color3: #6d5d34;
$color4: #a0884d;

.container {
  @apply flex flex-col justify-center py-10;

  .preise,
  .angebot,
  .kontakt {
    @apply mx-auto lg:mb-10;
  }

  #generalInfo {
    @apply flex flex-col lg:flex-row items-start text-center;
    h4 {
      @apply text-xl mb-2 mt-4;
    }
    .preise,
    .kontakt,
    .angebot {
      @apply w-full md:w-1/3;
    }
    .preise {
      @apply lg:w-fit;
    }
    .kontakt {
      a {
        @apply text-blue-700 underline;
      }
    }
    .angebot {
      @apply lg:w-fit;
    }
    h1 {
      @apply text-2xl my-5;
    }
  }
  & > * {
    @apply m-auto p-2;
  }
  .headingContainer {
    @apply w-full md:w-8/12 rounded-md;
    h1 {
      background: linear-gradient(to left, $color1, $color2);
      font-weight: 600;
      @apply bg-clip-text text-transparent w-full md:w-10/12 text-center m-auto text-4xl md:text-6xl py-4 relative box-content my-5;
    }
  }
  img {
    @apply w-full md:w-8/12 rounded-md p-0 mt-5  m-auto;
  }
  .infoText {
    @apply w-8/12 py-10 md:py-24 text-xl md:text-3xl overflow-hidden;
  }
  section {
    @apply w-full p-0;
    > * {
      @apply mx-auto;
    }
    > p {
      @apply text-center;
    }
    .rating {
      @apply text-end;
    }

    .classFooter {
      @apply flex flex-row justify-between rounded-xl border mt-5 w-full;
      & > * {
        &:nth-child(1) {
          @apply text-[$color1];
        }
        &:nth-child(2) {
          @apply text-[$color2];
        }
        @apply p-4 mb-0 w-4/12 md:w-2/12;
      }
    }
  }
}

.comments {
  @apply max-w-7xl mx-auto bg-white py-8 lg:py-16 antialiased;

  .commentHeaderWrapper {
    @apply flex justify-between items-center mb-6;
    .heading {
      @apply text-lg lg:text-2xl font-bold text-gray-900;
    }
  }
  .commentWrapper {
    @apply py-2 px-4 mb-4 bg-white rounded-lg rounded-t-lg border border-gray-200;
    .comment {
      @apply px-0 w-full text-sm text-gray-900 border-0 focus:ring-0 focus:outline-none;
    }
  }
  .sendComment {
    @apply inline-flex items-center py-2.5 px-4 text-xs font-medium text-center text-white  rounded-lg focus:ring-4;
  }
  article {
    @apply p-6 text-base bg-white rounded-lg;

    footer {
      @apply flex justify-between items-center mb-2;

      p.imagewrapper {
        @apply inline-flex items-center mr-3 text-sm text-gray-900  font-semibold;
      }
      p.date {
        @apply text-sm text-gray-600;
      }
      .commentText {
        @apply text-gray-500;
      }
    }
  }
}

.popUp {
  &.hidden {
    display: none !important;
  }
  @apply z-10 flex flex-col justify-evenly items-center fixed top-0 bottom-0 left-0 right-0 m-auto h-2/6 md:w-[50vw] xl:w-[33vw];
  .innerPopUp {
    @apply w-full h-full flex flex-col items-center justify-evenly p-4;
    h1 {
      @apply text-black text-xl my-3;
    }
  }
  &::after {
    content: "";
    z-index: -1;
    @apply fixed top-0 bottom-0 left-0 right-0 m-auto h-2/6 md:w-[50vw] xl:w-[33vw] bg-white border;
  }
  &::before {
    content: "";
    @apply fixed -z-10 top-0 left-0 block w-screen h-screen bg-[#00000056];
  }
  .googleLoginBtn,
  .facebookLoginBtn {
    @apply flex items-center  bg-white border border-gray-300 rounded-lg shadow-md max-w-xs px-6 py-2 text-sm font-medium text-gray-800 hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500;
  }
}

input[type="radio"] {
  @apply hidden;
  animation: colorFadeToBorder 0.3s ease-in forwards;
  &:checked + .card {
    @apply border z-10;

    & h1 {
      animation: colorFade 0.3s ease-in forwards;
    }

    &::after {
      animation: colorFadeToBorderAfter 0.3s ease-in forwards;
      @apply max-md:opacity-0;
      width: calc(100% - 1rem);
      height: calc(100% - 1rem);
      z-index: 0;
      background: linear-gradient(to right, white, white);
    }
    &::before {
      animation: colorFadeToBorderBefore 0.3s ease-in forwards;
      @apply max-md:opacity-0;
    }
  }
}

.container {
  h1 {
    @apply mx-auto my-28;
  }
}

.card {
  margin-bottom: 1rem !important;
  @apply text-center p-4 relative cursor-pointer w-full;
  &::after,
  &::before {
    @apply rounded-lg opacity-0;
    margin: 0.5rem 0.5rem;
    content: "";
    position: absolute;
    display: block;
    transition: 0.3s ease-in-out;
    left: 0;
    top: 0;
    width: calc(100% - 1rem);
    height: calc(100% - 1rem);
    z-index: -2;
    background: linear-gradient(to left, $color1, $color2);
  }

  h1 {
    @apply text-3xl z-10 relative;
  }
  p {
    @apply block uppercase tracking-wide text-gray-700 text-lg font-bold mb-2 z-10 relative;
    &.price {
      @apply block uppercase tracking-wide text-green-500 text-2xl font-bold my-6;
    }
  }
}
@keyframes colorFadeToBorder {
  0% {
    background: white;
  }
  70% {
    background: transparent;
  }
  100% {
    background: transparent;
  }
}
@keyframes colorFade {
  0% {
    background: linear-gradient(to left, $color1, $color2);
    @apply bg-clip-text text-transparent;
  }
  70% {
    background: linear-gradient(to left, white, white);
    @apply bg-clip-text text-transparent;
  }
  100% {
    background: linear-gradient(to left, $color1, $color2);
    @apply bg-clip-text text-transparent;
  }
}
@keyframes colorFadeToBorderAfter {
  0% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  90% {
    opacity: 0;
    background: white;
  }
  100% {
    opacity: 1;
    background: white;
  }
}
@keyframes colorFadeToBorderBefore {
  0% {
    opacity: 0;
  }
  70% {
    margin: 1rem 1rem;
    opacity: 1;
    width: calc(100% - 2rem);
    height: calc(100% - 2rem);
  }
  90% {
    opacity: 1;
    margin: 0;
    width: 100%;
    height: 100%;
  }
  100% {
    opacity: 1;
    margin: 0;
    width: 100%;
    height: 100%;
  }
}
