$color1: #667468;
$color2: #f8a100;
$color3: #6d5d34;
$color4: #a0884d;

.container {
  @apply flex flex-col justify-center py-10;

  .preise,
  .angebot,
  .kontakt {
    @apply mx-auto lg:mb-10;
  }

  #generalInfo {
    @apply flex flex-col lg:flex-row items-start text-center;
    h4 {
      @apply text-xl mb-2 mt-4;
    }
    .preise,
    .kontakt,
    .angebot {
      @apply w-full md:w-1/3;
    }
    .preise {
      @apply lg:w-fit;
    }
    .kontakt {
      a {
        @apply text-blue-700 underline;
      }
    }
    .angebot {
      @apply lg:w-fit;
    }
    h1 {
      @apply text-2xl my-5;
    }
  }
  & > * {
    @apply m-auto p-2;
  }
  .headingContainer {
    @apply w-full md:w-8/12 rounded-md;
    h1 {
      background: linear-gradient(to left, $color1, $color2);
      font-weight: 600;
      @apply bg-clip-text text-transparent w-full md:w-10/12 text-center m-auto text-4xl md:text-6xl py-4 relative box-content my-5;
    }
  }
  img {
    @apply w-full md:w-8/12 rounded-md p-0 mt-5  m-auto;
  }
  .infoText {
    @apply w-8/12 py-10 md:py-24 text-xl md:text-3xl overflow-hidden;
  }
  section {
    @apply w-full p-0;
    > * {
      @apply mx-auto;
    }
    > p {
      @apply text-center;
    }
    .rating {
      @apply text-end;
    }

    .classFooter {
      @apply flex flex-row justify-between rounded-xl border mt-5 w-full;
      & > * {
        &:nth-child(1) {
          @apply text-[$color1];
        }
        &:nth-child(2) {
          @apply text-[$color2];
        }
        @apply p-4 mb-0 w-4/12 md:w-2/12;
      }
    }
  }
}
