<main class="container">
  <h3>Haftungsausschluss</h3>
  Die P&K Agency GmbH übernimmt keinerlei Gewähr hinsichtlich der inhaltlichen
  Richtigkeit, Genauigkeit, Aktualität, Zuverlässigkeit und Vollständigkeit der
  Informationen.<br /><br />
  Durch das Aufrufen dieser Website durch den Benutzer geht die Firma mit dem
  Benutzer keinerlei vertragliche Beziehung ein. Die publizierten Tools
  begründen weder eine Aufforderung zur Offertenstellung noch ein Angebot. Die
  Firma bemüht sich, die Inhalte auf dieser Website aktuell, vollständig und
  richtig zu halten. Da diese Informationen jedoch raschen Änderungen
  unterliegen können, kann die Aktualität, Richtigkeit und Vollständigkeit nicht
  vollständig gewährleistet werden.<br /><br />
  Haftungsansprüche gegen die Firma wegen Schäden materieller oder immaterieller
  Art, welche aus dem Zugriff oder der Nutzung bzw. Nichtnutzung der
  veröffentlichten Informationen, durch Missbrauch der Verbindung oder durch
  technische Störungen entstanden sind, werden ausgeschlossen.<br /><br />
  Die Firma erstellt die Website und den Newsletter und die darin enthaltenen
  Informationen mit grösstmöglicher Sorgfalt. Alle Informationen auf der Website
  und im Newsletter der Firma erfolgen ohne Gewähr für ihre Richtigkeit. Die
  Firma übernimmt keine Haftung für die Verwendung der Website und des
  Newsletters und der darin enthaltenen Informationen.<br /><br />
  Die Firma übernimmt keine Verantwortung und gibt keine Garantie dafür ab, dass
  die Funktionen auf ihrer Website dauernd und ununterbrochen zur Verfügung
  stehen, fehlerfrei sind oder Fehler behoben werden oder dass die Website oder
  die jeweiligen Server frei von Viren oder sonstigen schädlichen Bestandteilen
  sind.<br /><br />
  <h3>Haftung für Links</h3>
  Verweise und Links auf Webseiten Dritter liegen ausserhalb des
  Verantwortungsbereichs der Firma. Es wird jegliche für Inhalte solcher
  Webseiten abgelehnt. Der Zugriff und die Nutzung solcher Webseiten erfolgen
  auf eigene Gefahr des Nutzers oder der Nutzerin.<br /><br />
  <h3>Urheberrechte</h3>
  Die Urheber- und alle anderen Rechte an Inhalten, Bildern, Fotos oder anderen
  Dateien auf der Website gehören ausschliesslich der Firma oder den speziell
  genannten Rechtsinhabern. Für die Verwendung und Reproduktion jeglicher
  Elemente ist die schriftliche Zustimmung der Urheberrechtsträger im Voraus
  einzuholen.
</main>
