$color1: #66746885;
$color2: #f8a10079;

.sideInfo {
  @apply flex flex-col max-md:self-end items-end h-full p-4 justify-between;
  p {
    @apply whitespace-nowrap;
  }
}

.textWrapper {
  @apply flex flex-col justify-between p-4 leading-normal w-full overflow-hidden;
}

.schoolCard {
  @apply flex
  flex-col
  items-center
  relative
  border
border-gray-200 
  rounded-lg 
  md:pl-5  
  shadow 
  bg-white 
  md:flex-row 
  mb-4
  md:h-[10rem];

  &::before,
  &::after {
    @apply rounded-lg opacity-0;
    margin: 0.5rem 0.5rem;
    content: "";
    position: absolute;
    display: block;
    transition: 0.3s ease-in-out;
    left: 0;
    top: 0;
    width: calc(100% - 1rem);
    height: calc(100% - 1rem);
    z-index: -2;
    background: linear-gradient(to left, $color1, $color2);
  }
  &:after {
    width: calc(100% - 1rem);
    height: calc(100% - 1rem);
    z-index: 0;
    background: linear-gradient(to right, $color1, $color2);
  }

  &:hover {
    animation: colorFadeToBorder 0.3s ease-in forwards;

    &::after {
      animation: colorFadeToBorderAfter 0.3s ease-in forwards;
      @apply max-md:opacity-0 #{!important};
    }
    &::before {
      animation: colorFadeToBorderBefore 0.3s ease-in forwards;
      @apply max-md:opacity-0 #{!important};
    }
  }

  div,
  img {
    z-index: 1;
  }
  img {
    width: calc(100% - 2rem);

    @apply object-contain rounded-t-lg md:h-96 md:w-48 md:rounded-lg md:max-h-28;
  }
  .schoolname {
    @apply mb-2 text-2xl font-bold tracking-tight;
  }
  .infoText {
    @apply mb-3 font-normal md:max-h-28;
  }
}

@keyframes colorFadeToBorder {
  0% {
    background: white;
  }
  70% {
    background: transparent;
  }
  100% {
    background: transparent;
  }
}
/* @keyframes colorFadeToBorderAfter {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
} */
@keyframes colorFadeToBorderAfter {
  0% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  90% {
    opacity: 0;
    background: white;
  }
  100% {
    opacity: 1;
    background: white;
  }
}
/* @keyframes colorFadeToBorderBefore {
  0% {
    opacity: 0;
  }
  100% {
    margin: 1rem 1rem;
    opacity: 1;
    width: calc(100% - 2rem);
    height: calc(100% - 2rem);
  }
} */
@keyframes colorFadeToBorderBefore {
  0% {
    opacity: 0;
  }
  70% {
    margin: 1rem 1rem;
    opacity: 1;
    width: calc(100% - 2rem);
    height: calc(100% - 2rem);
  }
  90% {
    opacity: 1;
    margin: 0;
    width: 100%;
    height: 100%;
  }
  100% {
    opacity: 1;
    margin: 0;
    width: 100%;
    height: 100%;
  }
}
