<a
  routerLink="school/{{ schoolId }}"
  activeRouterLink="active"
  class="schoolCard"
  (click)="onClickSchool()"
>
  <img src="{{ school.img }}" alt="" />
  <div class="textWrapper">
    <h5 class="schoolname">{{ school.name }}</h5>
    <p class="infoText">{{ school.infoText | trim : 175 }}</p>
  </div>
  <div class="sideInfo">
    <p>{{ school.stadt }}</p>
    <p>
      {{
        school.preisLektionen === 0
          ? "kein Preis angegeben"
          : "Preis Lektionen: " + school.preisLektionen + " CHF"
      }}
    </p>
  </div>
</a>
