<main class="container">
  <h1>{{ text[0] }}</h1>
  <h3>{{ text[1] }}</h3>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>{{ text[2] }} </mat-panel-title>
    </mat-expansion-panel-header>
    <p>
      {{ text[3] }}
      <br /><br />
      {{ text[4] }}
    </p>
  </mat-expansion-panel>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ text[5] }}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>
      {{ text[6] }}
    </p>
  </mat-expansion-panel>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ text[7] }}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>{{ text[8] }}</p>
  </mat-expansion-panel>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ text[9] }}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>
      {{ text[10] }} <br /><br />
      {{ text[11] }}<br /><br />
      {{ text[12] }}
    </p>
  </mat-expansion-panel>
</main>
