<form class="form" #f="ngForm">
  <section>
    <div class="inputContainer">
      <div></div>
      <label for="schule">Suche nach </label>
      <select
        id="schule"
        name="schoolType"
        [(ngModel)]="selectedSchoolType"
        (click)="filterSchools()"
        (change)="filterSchools()"
      >
        <option name="fahrschule">Fahrschule</option>
        <option name="berufsschule">Berufsschule</option>
      </select>
    </div>
    <div class="inputContainer">
      <div></div>
      <label for="driveClassSearchbar">Fahrschule </label>
      <input
        id="driveClassSearchbar"
        name="driveClassSearchbar"
        value="suche nach Fahrschule in deiner Nähe"
        type="text"
        ngModel
        (input)="filterSchools()"
      />
    </div>
    <div class="inputContainer">
      <div></div>
      <label for="plz">Postleitzahl</label>
      <input
        id="plz"
        name="plz"
        type="number"
        ngModel
        (input)="filterSchools()"
      />
    </div>
    <div class="inputContainer">
      <div></div>
      <label for="stadt">Gebiet </label>
      <select
        id="stadt"
        name="stadt"
        type="text"
        ngModel
        (click)="filterSchools()"
        (change)="filterSchools()"
      >
        <option>Zürich</option>
        <option>Bern</option>
        <option>Luzern</option>
        <option>Uri</option>
        <option>Schwyz</option>
        <option>Obwalden</option>
        <option>Nidwalden</option>
        <option>Glarus</option>
        <option>Zug</option>
        <option>Freiburg</option>
        <option>Solothurn</option>
        <option>Basel-Stadt</option>
        <option>Basel-Landschaft</option>
        <option>Schaffhausen</option>
        <option>Appenzell A.Rh</option>
        <option>Appenzell I.Rh.</option>
        <option>Sankt Gallen</option>
        <option>Graubünden</option>
        <option>Aargau</option>
        <option>Thurgau</option>
        <option>Tessin</option>
        <option>Waadt</option>
        <option>Wallis</option>
        <option>Neuenburg</option>
        <option>Genf</option>
        <option>Jura</option>
      </select>
    </div>
    <div class="inputContainer">
      <div></div>
      <label for="lang">Sprache </label>
      <input
        id="lang"
        name="lang"
        type="text"
        ngModel
        (input)="filterSchools()"
      />
    </div>
  </section>
</form>
<main class="container" *ngIf="filteredSchools.length > 0; else allSchools">
  <app-driving-school
    *ngFor="let school of filteredSchools; let i = index"
    [school]="school"
    [schoolId]="i"
  ></app-driving-school>
</main>
<ng-template #allSchools>
  <main class="container">
    <app-driving-school
      *ngFor="let school of schools; let i = index"
      [school]="school"
      [schoolId]="i"
    ></app-driving-school>
  </main>
</ng-template>
