<h1>Driveclass Premium Abos</h1>

<fieldset class="container">
  <label class="card" id="opt1" routerLink="/register">
    <h1>Premium Abo Fahrschule Monatlich</h1>
    <p>&#10003; übersichtliches Profil</p>
    <p>&#10003; SEO optimierte Inhalte</p>
    <p>&#10003; Call to Actions</p>
    <p>&#10003; laufende Updates</p>
    <p>&#10003; aktive promotion auf Social Media</p>
    <p class="price">70.00 CHF</p>
  </label>

  <label class="card" id="opt2" routerLink="/register">
    <h1>Premium Abo Fahrschule Jährlich</h1>
    <p>&#10003; übersichtliches Profil</p>
    <p>&#10003; SEO optimierte Inhalte</p>
    <p>&#10003; Call to Actions</p>
    <p>&#10003; laufende Updates</p>
    <p>&#10003; aktive promotion auf Social Media</p>
    <p class="price">720.00 CHF</p>
  </label>

  <label class="card" id="opt3" routerLink="/register">
    <h1>Premium Abo Berufsschule Monatlich</h1>
    <p>&#10003; übersichtliches Profil</p>
    <p>&#10003; SEO optimierte Inhalte</p>
    <p>&#10003; Call to Actions</p>
    <p>&#10003; laufende Updates</p>
    <p>&#10003; aktive promotion auf Social Media</p>
    <p class="price">150.00 CHF</p>
  </label>
  <label class="card" id="opt4" routerLink="/register">
    <h1>Premium Abo Berufsschule Jährlich</h1>
    <p>&#10003; übersichtliches Profil</p>
    <p>&#10003; SEO optimierte Inhalte</p>
    <p>&#10003; Call to Actions</p>
    <p>&#10003; laufende Updates</p>
    <p>&#10003; aktive promotion auf Social Media</p>
    <p class="price">1500.00 CHF</p>
  </label>
</fieldset>
