<h1>Driveclass Premium Abos</h1>

<fieldset class="container">
  <input id="opt1" class="w-full h-full" type="radio" name="abo" value="70" />
  <label class="card" for="opt1">
    <h1>Premium Abo Fahrschule Monatlich</h1>
    <p>&#10003; übersichtliches Profil</p>
    <p>&#10003; SEO optimierte Inhalte</p>
    <p>&#10003; Call to Actions</p>
    <p>&#10003; laufende Updates</p>
    <p>&#10003; aktive promotion auf Social Media</p>
    <p class="price">70.00 CHF</p>
  </label>
  <input id="opt2" class="w-full h-full" type="radio" name="abo" value="720" />

  <label class="card" for="opt2">
    <h1>Premium Abo Fahrschule Jährlich</h1>
    <p>&#10003; übersichtliches Profil</p>
    <p>&#10003; SEO optimierte Inhalte</p>
    <p>&#10003; Call to Actions</p>
    <p>&#10003; laufende Updates</p>
    <p>&#10003; aktive promotion auf Social Media</p>
    <p class="price">720.00 CHF</p>
  </label>
  <input id="opt3" class="w-full h-full" type="radio" name="abo" value="150" />

  <label class="card" for="opt3">
    <h1>Premium Abo Berufsschule Monatlich</h1>
    <p>&#10003; übersichtliches Profil</p>
    <p>&#10003; SEO optimierte Inhalte</p>
    <p>&#10003; Call to Actions</p>
    <p>&#10003; laufende Updates</p>
    <p>&#10003; aktive promotion auf Social Media</p>
    <p class="price">150.00 CHF</p>
  </label>
  <input id="opt4" class="w-full h-full" type="radio" name="abo" value="1500" />
  <label class="card" for="opt4">
    <h1>Premium Abo Berufsschule Monatlich</h1>
    <p>&#10003; übersichtliches Profil</p>
    <p>&#10003; SEO optimierte Inhalte</p>
    <p>&#10003; Call to Actions</p>
    <p>&#10003; laufende Updates</p>
    <p>&#10003; aktive promotion auf Social Media</p>
    <p class="price">1500.00 CHF</p>
  </label>
</fieldset>
