$color1: #667468;
$color2: #f8a100;

@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: overpass;
  src: url("assets/font/Overpass/static/Overpass-Regular.ttf");
}
@font-face {
  font-family: DidactG;
  src: url("assets/font/DidactGothic/DidactGothic-Regular.ttf");
}
body {
  font-family: DidactG;
  scroll-behavior: smooth;
}
h1,
h2,
h3 {
  background: linear-gradient(to left, $color1, $color2);
  @apply max-w-5xl mx-auto text-3xl md:text-5xl my-28 text-center bg-clip-text text-transparent leading-[4rem];
}
h3 {
  @apply text-2xl md:text-3xl;
}
form,
main.edit {
  button,
  [type="button"],
  [type="reset"],
  [type="submit"] {
    @apply border 
    p-3
    border-[#858585]
    bg-[#4DBA57]
    drop-shadow-xl 
    text-white;
    &.next {
      @apply float-right;
    }

    &:hover {
      background: linear-gradient(#005c10, #4dba57);
    }
  }

  .wrapper {
    @apply flex flex-wrap -mx-3 mb-6;

    .inner {
      @apply w-full md:w-1/2 px-3 mb-6 md:mb-0;
    }
  }
  .labelInputWrapper {
    @apply flex flex-wrap -mx-3;
  }
  .labelInputWrapperInner {
    @apply w-full md:w-1/3 px-3 mb-6 md:mb-0;
  }
}
.login,
.edit,
.contact {
  input[type="text"],
  input[type="password"],
  input[type="url"],
  input[type="email"],
  input[type="number"],
  input[type="tel"],
  input[type="file"],
  textarea,
  select {
    @apply appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-700 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500;

    + p.warn {
      display: none;
    }
  }
  label {
    @apply block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2;
  }
}

.btn-payrexx {
  display: inline-block;
  width: auto;
  padding: 6px 20px 6px 20px;
  font-size: 23px;
  font-weight: 300;
  white-space: inherit;
  background-color: #4ab755;
  border: 0;
  outline: 0;
  text-decoration: none;
  color: #ffffff;
  border-radius: 3px;
  -webkit-transition: background-color 300ms ease-out;
  -moz-transition: background-color 300ms ease-out;
  -o-transition: background-color 300ms ease-out;
  transition: background-color 300ms ease-out;
}
.btn-payrexx:focus,
.btn-payrexx:hover {
  background-color: #046013;
  color: #ffffff;
}

html,
body {
  height: 100%;
}

section.content {
  min-height: calc(100vh - 24rem - 106px - 76px);
}

main.container {
  @apply max-w-5xl;
}
