<h1 id="heading" #heading *ngIf="!successMsg" class="">
  {{ text[0] }}
</h1>

<form class="login" *ngIf="!successMsg" #f="ngForm">
  <div *ngIf="pageCount === 1" class="containerP1">
    <h3 class="subHeading">{{ text[1] }}</h3>
    <div class="w-full md:w-1/2 schulWrapper">
      <label for="berufsschule">{{ text[2] }}</label
      ><input
        id="berufsschule"
        class="schule"
        type="radio"
        name="schule"
        value="berufsschule"
        ngModel="berufsschule"
      />
      <label for="fahrschule">{{ text[3] }}</label
      ><input
        id="fahrschule"
        class="schule"
        type="radio"
        name="schule"
        value="fahrschule"
        ngModel="fahrschule"
      />
    </div>
    <div class="wrapper px-1">
      <div class="inner">
        <label class="" for="name">
          {{ text[4] }}
        </label>
        <input
          class="name"
          id="name"
          type="text"
          placeholder="{{ text[5] }}"
          name="name"
          [(ngModel)]="name"
          required
        />
        <p class="warn text-red-500">
          {{ text[6] }}
        </p>
      </div>
      <div class="w-full md:w-1/2 px-3">
        <label for="grid-last-name"> {{ text[7] }} </label>
        <input
          class=""
          id="grid-last-name"
          type="email"
          placeholder="{{ text[8] }}"
          name="profilename"
          [(ngModel)]="profilename"
          required
          email
        />
        <p class="warn text-red-500">
          {{ text[6] }}
        </p>
      </div>
    </div>
    <div class="labelInputWrapper mb-6">
      <div class="w-full px-3">
        <label for="grid-password">{{ text[9] }} </label>
        <input
          class=""
          id="grid-password"
          type="password"
          placeholder="******************"
          name="password"
          ngModel
          required
        />
        <p class="warn text-red-500">
          {{ text[6] }}
        </p>
        <p class="warn text-gray-600">{{ text[10] }}</p>
      </div>
    </div>
    <div class="labelInputWrapper mb-3">
      <div class="w-full px-3">
        <label for="img">{{ text[11] }} </label>
        <input
          class=""
          #img
          id="img"
          type="file"
          (change)="upload($event)"
          accept="*.png.jpg.JPEG."
          name="img"
          required
          ngModel
        />
        <p class="warn text-red-500">
          {{ text[6] }}
        </p>
      </div>
    </div>
    <div class="labelInputWrapper mb-3 px-1">
      <div class="labelInputWrapperInner">
        <label for="stadt">{{ text[12] }} </label>
        <input
          class=""
          id="stadt"
          type="text"
          placeholder="Zürich"
          name="stadt"
          [(ngModel)]="stadt"
          required
        />
        <p class="warn text-red-500">
          {{ text[6] }}
        </p>
      </div>
      <div class="labelInputWrapperInner">
        <label for="kanton">{{ text[13] }} </label>
        <div class="relative">
          <select
            class="form-select"
            id="kanton"
            name="kanton"
            [(ngModel)]="kanton"
            required
          >
            <option>Zürich</option>
            <option>Bern</option>
            <option>Luzern</option>
            <option>Uri</option>
            <option>Schwyz</option>
            <option>Obwalden</option>
            <option>Nidwalden</option>
            <option>Glarus</option>
            <option>Zug</option>
            <option>Freiburg</option>
            <option>Solothurn</option>
            <option>Basel-Stadt</option>
            <option>Basel-Landschaft</option>
            <option>Schaffhausen</option>
            <option>Appenzell A.Rh</option>
            <option>Appenzell I.Rh.</option>
            <option>Sankt Gallen</option>
            <option>Graubünden</option>
            <option>Aargau</option>
            <option>Thurgau</option>
            <option>Tessin</option>
            <option>Waadt</option>
            <option>Wallis</option>
            <option>Neuenburg</option>
            <option>Genf</option>
            <option>Jura</option>
          </select>
          <p class="warn text-red-500">
            {{ text[6] }}
          </p>
        </div>
      </div>
      <div class="labelInputWrapperInner">
        <label for="grid-zip">{{ text[14] }} </label>
        <input
          class=""
          id="grid-zip"
          type="number"
          placeholder="8001"
          name="postalCode"
          [(ngModel)]="postalCode"
          required
        />
        <p class="warn text-red-500">
          {{ text[6] }}
        </p>
      </div>
    </div>
    <div class="labelInputWrapper">
      <div class="w-full px-3">
        <label for="infoText"> {{ text[15] }}</label>
        <textarea
          class=""
          id="infoText"
          type="text"
          placeholder="{{ text[16] }}"
          name="infoText"
          [(ngModel)]="infoText"
        ></textarea>
      </div>
    </div>
    <label class="px-1 driveclassOpt"
      >{{ text[17] }} <span class="text-yellow-600">{{ text[18] }}</span></label
    >
    <div class="labelInputWrapper check px-2">
      <div>
        <label for="handgeschaltet"> {{ text[19] }}</label>
        <input
          [(ngModel)]="handgeschaltet"
          type="checkbox"
          id="handgeschaltet"
          name="handgeschaltet"
        />
      </div>
      <div>
        <label for="automat">{{ text[20] }} </label>
        <input
          [(ngModel)]="automat"
          type="checkbox"
          id="automat"
          name="automat"
        />
      </div>
      <div>
        <label for="verkehrskunde">{{ text[21] }} </label>
        <input
          [(ngModel)]="verkehrskunde"
          type="checkbox"
          id="verkehrskunde"
          name="verkehrskunde"
        />
      </div>
      <div>
        <label for="nothelferkurs">{{ text[22] }} </label>
        <input
          [(ngModel)]="nothelferkurs"
          type="checkbox"
          id="nothelferkurs"
          name="nothelferkurs"
        />
      </div>
    </div>
    <div class="labelInputWrapper">
      <div class="w-full px-3">
        <label for="sprache">{{ text[23] }} </label>
        <input
          type="text"
          name="sprache"
          id="sprache"
          [(ngModel)]="sprache"
          required
          placeholder="{{ text[24] }}"
        />
      </div>
    </div>
    <label class="px-1 mt-3 mb-4">{{ text[25] }}</label>
    <div class="labelInputWrapper mb-3 px-1">
      <div class="labelInputWrapperInner">
        <label for="lektion">{{ text[26] }}</label>
        <input
          [(ngModel)]="preisLektionen"
          type="number"
          id="lektion"
          name="preisLektionen"
        />
      </div>
      <div class="labelInputWrapperInner">
        <label for="preisVerkehrskunde">{{ text[27] }}</label>
        <input
          [(ngModel)]="preisVerkehrskunde"
          type="number"
          id="preisVerkehrskunde"
          name="preisVerkehrskunde"
        />
      </div>
      <div class="labelInputWrapperInner">
        <label for="preisNothelferkurs">{{ text[28] }}</label>
        <input
          [(ngModel)]="preisNothelferKurs"
          type="number"
          id="preisNothelferkurs"
          name="preisNothelferKurs"
        />
      </div>
    </div>
  </div>

  <div *ngIf="pageCount === 2" class="containerP2">
    <h1 class="subHeading">{{ text[29] }}</h1>

    <div class="wrapper px-1">
      <div class="inner">
        <label for="vorwhal">{{ text[30] }} </label>
        <select
          id="vorwhal"
          name="vorwahl"
          class="form-select"
          required
          [(ngModel)]="vorwahl"
        >
          <option value="+41">+41 {{ text[31] }}</option>
          <option value="+30">+30 {{ text[32] }}</option>
          <option value="+31">+31 {{ text[33] }}</option>
          <option value="+32">+32 {{ text[34] }}</option>
          <option value="+33">+33 {{ text[35] }}</option>
          <option value="+34">+34 {{ text[36] }}</option>
          <option value="+39">+39 {{ text[37] }}</option>
          <option value="+40">+40 {{ text[38] }}</option>
          <option value="+43">+43 {{ text[39] }}</option>
          <option value="+49">+49 {{ text[40] }}</option>
        </select>
      </div>
      <div class="w-full md:w-1/2 px-3">
        <label for="telefon">
          {{ text[41] }}
        </label>
        <input
          class=""
          id="telefon"
          type="tel"
          name="telefon"
          [(ngModel)]="nummer"
          pattern="[0-9]{8,11}"
          placeholder="{{ text[42] }}"
          required
        />
        <p class="warn text-red-500">
          {{ text[6] }}
        </p>
      </div>
    </div>

    <div class="labelInputWrapper mb-3">
      <div class="w-full px-3">
        <label for="webseite"> {{ text[43] }} </label>
        <input
          class=""
          id="webseite"
          type="text"
          name="webseite"
          [(ngModel)]="webseite"
          required
        />
        <p class="warn text-red-500">
          {{ text[6] }}
        </p>
      </div>
    </div>
  </div>

  <fieldset *ngIf="pageCount === 3" class="containerP2">
    <h1 class="subHeading">{{ text[44] }}</h1>
    <input
      id="opt1"
      class="w-full h-full"
      type="radio"
      name="abo"
      value="70"
      [(ngModel)]="abo"
    />
    <label class="card" for="opt1">
      <h1>{{ text[49] }}</h1>
      <p>&#10003; {{ text[45] }}</p>
      <p>&#10003; {{ text[46] }}</p>
      <p>&#10003; Call to Actions</p>
      <p>&#10003; {{ text[47] }}</p>
      <p>&#10003; {{ text[48] }}</p>
      <p class="price">70.00 CHF</p>
    </label>
    <input
      id="opt2"
      class="w-full h-full"
      type="radio"
      name="abo"
      value="720"
      [(ngModel)]="abo"
    />

    <label class="card" for="opt2">
      <h1>{{ text[50] }}</h1>
      <p>&#10003; {{ text[45] }}</p>
      <p>&#10003; {{ text[46] }}</p>
      <p>&#10003; Call to Actions</p>
      <p>&#10003; {{ text[47] }}</p>
      <p>&#10003; {{ text[48] }}</p>
      <p class="price">720.00 CHF</p>
    </label>
    <input
      id="opt3"
      class="w-full h-full"
      type="radio"
      name="abo"
      value="150"
      [(ngModel)]="abo"
    />

    <label class="card" for="opt3">
      <h1>{{ text[51] }}</h1>
      <p>&#10003; {{ text[45] }}</p>
      <p>&#10003; {{ text[46] }}</p>
      <p>&#10003; Call to Actions</p>
      <p>&#10003; {{ text[47] }}</p>
      <p>&#10003; {{ text[48] }}</p>
      <p class="price">150.00 CHF</p>
    </label>
    <input
      id="opt4"
      class="w-full h-full"
      type="radio"
      name="abo"
      value="1500"
      [(ngModel)]="abo"
    />
    <label class="card" for="opt4">
      <h1>{{ text[52] }}</h1>
      <p>&#10003; {{ text[45] }}</p>
      <p>&#10003; {{ text[46] }}</p>
      <p>&#10003; Call to Actions</p>
      <p>&#10003; {{ text[47] }}</p>
      <p>&#10003; {{ text[48] }}</p>
      <p class="price">1500.00 CHF</p>
    </label>
  </fieldset>

  <div class="buttonContainer">
    <button *ngIf="pageCount === 2" type="button" (click)="back()">
      {{ text[53] }} 1/4
    </button>
    <button *ngIf="pageCount === 3" type="button" (click)="back()">
      {{ text[53] }} 2/4
    </button>
    <button *ngIf="pageCount === 4" type="button" (click)="back()">
      {{ text[53] }} 3/4
    </button>
    <button class="next" *ngIf="pageCount === 1" type="button" (click)="next()">
      {{ text[54] }} 2/4
    </button>
    <button class="next" *ngIf="pageCount === 2" type="button" (click)="next()">
      {{ text[54] }} 3/4
    </button>

    <!--     <button class="next" *ngIf="pageCount === 3" type="button">
      <a href="https://driveclass.payrexx.com/pay?tid=2ce074b7">Zahlen</a>
    </button> -->
  </div>
  <p class="text-red-500">{{ errorMsg }}</p>
</form>
<h1 *ngIf="successMsg">{{ successMsg }}</h1>
<iframe
  *ngIf="pageCount === 3 && abo === '70'"
  #payrexxIframe
  (load)="showFrame()"
  src="https://driveclass.payrexx.com/pay?tid=2ce074b7&appview=1"
  allow="payment *"
  width="100%"
  height="1000px"
  style="border: 0"
  id="payrexx-embed"
></iframe>
<iframe
  *ngIf="pageCount === 3 && abo === '720'"
  #payrexxIframe
  (load)="showFrame()"
  src="https://driveclass.payrexx.com/pay?tid=fa53beb6&appview=1"
  allow="payment *"
  width="100%"
  height="1000px"
  style="border: 0"
  id="payrexx-embed"
></iframe>
<iframe
  *ngIf="pageCount === 3 && abo === '150'"
  #payrexxIframe
  (load)="showFrame()"
  src="https://driveclass.payrexx.com/pay?tid=7e171dd7&appview=1"
  allow="payment *"
  width="100%"
  height="1000px"
  style="border: 0"
  id="payrexx-embed"
></iframe>
<iframe
  *ngIf="pageCount === 3 && abo === '1500'"
  #payrexxIframe
  (load)="showFrame()"
  src="https://driveclass.payrexx.com/pay?tid=d1d152e8&appview=1"
  allow="payment *"
  width="100%"
  height="1000px"
  style="border: 0"
  id="payrexx-embed"
></iframe>
